bin/
data/
.metadata/
.settings/
target/
.classpath
.idea
*.iml
.project
**/rules.log
.execution-hints-*.log
node_modules
war/overlays
/mw-oauth-proxy/docker/jetty/webapps/ROOT.war
/mw-oauth-proxy/docker/jetty/lib