<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>
    <appender name="UPDATED_ENTITY_IDS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>updatedEntityIds.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>updatedEntityIds.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- additivity=false ensures entityIds only go to the corresponding log -->
    <logger name="UPDATED_ENTITY_IDS" level="INFO" additivity="false">
        <appender-ref ref="UPDATED_ENTITY_IDS"/>
    </logger>

    <logger name="org.wikidata.query.rdf" level="info"/>

    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
