.error {
	margin: 20px;
	overflow-x: scroll;
	font-family: monospace;
	white-space: pre;
}

.query-total,
#query-result,
#hide-explorer {
	display: none;
}

#query-error {
	display: none;
}

.error-line {
	border-bottom: 2px dotted red;
}

.error-character {
	background: green;
}

#query-result pre {
	display: inline;
	font-family: serif;
	border: none;
	background-color: inherit;
}

.cm-s-default .cm-bracket {
	color: #000;
}

.CodeMirror {
	border: 1px solid #ccc;
	height: auto !important;
}

.CodeMirror-scroll, .queryEditor {
	min-height: 300px;
}

.exampleQueries {
	width: 160px;
}

iframe.shortUrl {
	border: none;
	width: 250px;
	height: 40px;
}

.queryEditor {
	visibility: hidden;
	padding: 0;
}
/**
	Bootstrap Styles
**/
.navbar, .alert {
	margin-bottom: 0;
}

.navbar-right {
	margin-right: 0;
}

.label {
	font-size: 100%;
}

.actionMessage {
	display: none;
}

.popover{
	max-width: 500px;
	width: auto;
}

.dropdown-toggle .glyphicon:before {
	margin-right: 3px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.navbar-toggle {
	  z-index: 100;
}

/**
	Query example dialog
**/

.QueryExamples input.tags-input {
	visibility: hidden;
}

.QueryExamples .tagFilter {
	padding-bottom: 0px!important;
}

.QueryExamples  .exampleTable {
	max-height: 500px; 
	overflow-y: auto; 
	overflow-x: hidden;
	border: 1px solid #ccc;
}

iframe.shortUrl {
	border: none;
	width: 250px;
	height: 40px;
}

.explorer-panel {
	position: fixed;
	right: 0;
	top: 200px;
	background-color: rgba(255,255,255,0.8);
	z-index: 100;
	display: none;
	min-height: 800px;
	max-width:100vw;
	overflow:auto;
}

/* colors */

div.jqcloud { color: #337ab7; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #337ab7; }
div.jqcloud a:hover { color: #337ab7; }
div.jqcloud span.w10 { color: rgba(51,122,183,1); }
div.jqcloud span.w9 { color: rgba(51,122,183,0.9); }
div.jqcloud span.w8 { color: rgba(51,122,183,0.8); }
div.jqcloud span.w7 { color: rgba(51,122,183,0.75); }
div.jqcloud span.w6 { color: rgba(51,122,183,0.6); }
div.jqcloud span.w5 { color: rgba(51,122,183,0.65); }
div.jqcloud span.w4 { color: rgba(51,122,183,0.5); }
div.jqcloud span.w3 { color: rgba(51,122,183,0.55); }
div.jqcloud span.w2 { color: rgba(51,122,183,0.4); }
div.jqcloud span.w1 { color: rgba(51,122,183,0.45); }