.error {
	margin: 20px;
	overflow-x: scroll;
	font-family: monospace;
	white-space: pre;
}

#total,
#query-result,
#hide-explorer {
	display: none;
}

#query-error {
	display: none;
}

.error-line {
	border-bottom: 2px dotted red;
}

.error-character {
	background: green;
}

#query-result pre {
	display: inline;
	font-family: serif;
	border: none;
	background-color: inherit;
}

.cm-s-default .cm-bracket {
	color: #000;
}

.CodeMirror {
	border: 1px solid #ccc;
	height: auto !important;
}

.CodeMirror-scroll {
	min-height: 300px;
}

.exampleQueries {
	width: 160px;
}

iframe.shortUrl {
	border: none;
	width: 250px;
	height: 40px;
}

/**
	Bootstrap Styles
**/
.navbar, .alert {
	margin-bottom: 0;
}

.navbar-right {
	margin-right: 0;
}

.label {
	font-size: 100%;
}

.actionMessage {
	display: none;
}

.popover{
   max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

/**
	Query example dialog
**/

.QueryExamples input.tags-input {
	visibility: hidden;
}

.QueryExamples .tagFilter {
	padding-bottom: 0px!important;
}

.QueryExamples  .exampleTable {
	max-height: 500px; 
	overflow-y: auto; 
	overflow-x: hidden;
	border: 1px solid #ccc;
}

iframe.shortUrl {
	border: none;
	width: 250px;
	height: 40px;
}

.explorer-panel {
	position: fixed;
	right: 0;
	top: 200px;
	background-color: rgba(255,255,255,0.8);
	z-index: 100;
	display: none;
	min-height: 800px;
	max-width:100vw;
	overflow:auto;
}
